/* Alpha value for colour  */
div{
    height: 100px;
    width: 100px;
    background-color: #ff0000a0;
    transition:  1s ease; 
}
h1{
    color: rgba(0, 0, 255, 0.5); 
    font-size: 19px;

}

#opacity{
    opacity: 0.4; 
}

div:hover{
    background-color:black;
    border-radius: 50%;
}

